@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 300;
    src: local('BebasNeue-Regular') url(BebasNeue-Regular.ttf) format(ttf);
} 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F2F2F2;
    font-family: sans-serif;
    font-size: 16px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 5rem auto;
}
.card {
    width: 320px;
    margin: 0;
    padding: 2rem;
    color: #fff;
    letter-spacing: 1px;
}
.card-body {
    margin-bottom: 4rem;
}
.card .card-body h1 {
    font-family: 'Bebas Neue';
    color: #fff;
    margin: 2rem 0;
    font-weight: 400;
}
.card-body p {
    line-height: 1.6;
    width: 90%;
}
.card-footer {
    margin-bottom: 1.5rem;
}
.btn {
    text-decoration: none;
    background-color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 20px;
    border: 2px solid #fff;
    letter-spacing: 0;
    transition: all 0.2s ease-in-out;
}
.card:nth-child(1) .btn:hover,
.card:nth-child(2) .btn:hover,
.card:nth-child(3) .btn:hover {
    background-color: transparent;
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.card:nth-child(1) .btn {
    color: #E28525;
}
.card:nth-child(2) .btn {
    color: #016972;
}
.card:nth-child(3) .btn {
    color: #00403F;
}
.card:nth-child(1) {
    background-color: #E28525;
    border-radius: 5px 0 0 5px;
}
.card:nth-child(2) {
    background-color: #016972;
}
.card:nth-child(3) {
    background-color: #00403F;
    border-radius: 0 5px 5px 0;
}
@media only screen and (min-width:0) and (max-width: 599.9px) {
    .container {
        max-width: 100%;
    }
}
@media only screen and (min-width:600px) and (max-width: 767.9px) {
    .container {
        max-width: 100%;
    }
    .card {
        width: 90%;
    }
    
}
@media only screen and (min-width:768px) and (max-width: 990px) {
    .container {
        max-width: 100%;
    }
    .card {
        width: 33.3%;
    }
    .content {
        padding: 1rem;
    }
}